body{
    background-image: url(/static/image/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}
h1{
    text-align: center;
    display: block;
    font-size: 50px;
}
.container-fluid{
    align-items: center;
    display: grid;
    text-align: center;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.container-fluid button{
    display: block;
    border-radius: 50px;
    font-size: 25px;
    color:white;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(2px);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.container-fluid button:hover{
    background-color: rgba(255, 255, 255, 1);
    font-size: 25px;
    color:black;
}